.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    border-radius: 0.6525rem;
    text-transform: uppercase;
}

.small {
    width: 96px;
    height: 36px;
    font-size: 1rem;
    font-weight: 400;
    //+text-transform: none !important;
}

.large {
    width: 140px;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
}