.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    border-radius: 3.125rem;
}

.large {
    width: 9.375rem;
    height: 3.125rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.small {
    width: 6.25rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
}