.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.5);
  padding: 0.8125rem;
  border-radius: 0.625rem;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.7);
  }
}

.icon-btn {
  cursor: pointer;

  &:hover {
    color: var(--green-300);
    transform: scale(1.3);
  }
}
