.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  gap: 2rem;
  z-index: 1;

}

.task-title {
  font-size: 1.5rem;  
}

.timer {
  font-weight: 600;
  font-family: 'Inter', monospace;
  margin: 0 !important;
  font-size: 6.5rem;

  @media screen and (min-width: 640px) {
      font-size: 10rem;
    }
}

.btn-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    margin: 2rem auto;   
}